// サイトで使用する色
$white: #ffffff;
$black: #000;
$cl-black: #434343;
$bg-dark: #629e8a;
$bg-light: #f2f2f2;
$cl-gray: #808080;
$bg-green-l: #e3f0ec;
$color-blue: #6ad2e4;
$color-green: #5fab93;
$cl-must: #ff4d6d;
